:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

.wrapper {
  background: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.learn-more-btn {
  padding: 10px 20px;
  background-color: #ec6323;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
}

.carousel .carousel__track {
  display: flex!important;
  padding: 0 0 30px 0 !important;
  position: relative!important;
  align-items: flex-start!important;
}